<table>
    <tr>
        <td>Enter Roll Number</td>
        <td>:</td>
        <td><input type="text" [(ngModel)]="StudentName" /></td>
    </tr>
    <tr>
        <td colspan="1" align="center"><input type="button" value="Add Student" (click)="AddStudent()" /></td>
        <td colspan="2" align="center"><input type="button" value="Edit Student" (click)="EditStudent()" /></td>
    </tr>
</table>

<table class="table table-bordered">
    <tr *ngFor="let stu of StudentArray; let i = index"> <!--looping through the array of students-->
        <td>{{ stu }}</td>
        <input type="button" (click)="selectStudent(i)" class="btn btn-warning" value="Edit" />
        <input type="button" (click)="deleteStudent(i)" class="btn btn-danger" value="Delete" />
    </tr>
</table>